{{#each edges}}
    <h4> element_type: {{element_type}} </h4>
    <p> {{nsId}}  {{x0}} {{y0}} {{x1}} {{y1}} </p>
{{else}}
    <p> NULL</p>
{{/each}}
{{#each nodes}}
    <h4> {{element_type}} </h4>
    <p> {{nsId}} {{x}} {{y}}</p>
{{else}}
    <p> NULL</p>
{{/each}}

<style>
    #container {
        position: relative;
    }
    #container scene3d, #moveGUI, #informationDiv {
        position: absolute;
    }
    scene3d {
        border: 1px solid black;
    }
  </style>

    <p> 
        Work in progress...
    </p>
    <div id="container">
        <div id="informationDiv">
            <textarea id="information" style="position:relative; left: 300px; top:25px; width: 300px; overflow: auto; overflow-x: hidden; height: 100px;background: transparent; " readonly> Information</textarea>
        </div>
        <div id="moveGUI"  style="position: absolute; left:ss 0px; top:25px; ">
        </div> 
        <div id="scene3d"></div>
    </div>
<script>
    var id="{{nodes.nsid}}";
    var x="{{nodes.x}}";
    var y="{{nodes.y}}";
    console.log(id, x, y);
</script>
<script src="/public/js/app_tokyo/nsMain.js"></script>